<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tema3_mvc</property>

        <!--Replace with your MySQL username and password-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">qwertyuiop</property>


        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>

        <!--         Map Java Class to DB Entity-->

        <mapping class="org.example.model.entities.Room"/>
        <mapping class="org.example.model.entities.RoomFacilities"/>
        <mapping class="org.example.model.entities.Hotel"/>
        <mapping class="org.example.model.entities.RoomFloor"/>
        <mapping class="org.example.model.entities.UserType"/>
        <mapping class="org.example.model.entities.User"/>
        <mapping class="org.example.model.entities.Reservation"/>
    </session-factory>
</hibernate-configuration>